{% extends "home/index.html" %}
{% load static %}
{% block facus-blog_content %}

<hr></hr>
<h2>Sobre nosotros</h2>
<br>
<h3>Proyecto final del curso de Python de Coder House</h3>
<br>
<p>Este blog, a cargo de Facundo Dalto y Facundo Suad, es el resultado final de todo lo aprendido.</p>
<p>Para la realización se emplearon el lenguaje de programación Python sobre el framework Django y una base de datos SQLite. Combinado con HTML y CSS para la parte estética de la presentación de los datos en pantalla</p>
<p>El Blog cuenta con varias categorías en el menú de navegación desde donde se pueden acceder a artículos sobre estos temas</p>
<p>Además cuenta con la posibilidad de logearse, generar y editar usuarios para poder realizar posteos.</p>



{% endblock %}